<main class="w3-text-theme">
        <div class="w3-container w3-responsive w3-center">
    <div class="w3-container"><h1>About</h1></div>


    <div class="w3-third w3-card w3-center w3-padding w3-hide-small w3-margin-bottom w3-border">
        <%= image_tag 'about-cartoon.png', :class => "w3-image" %>
    </div>
     <div class="w3-twothird w3-padding">
        <p><%= data.settings.about.blurb %></p>
    </div>

</div>    
</main>