---
title: "MM Line Dancing - Contact"
---
<main class="w3-text-theme">
    <div class="w3-container">
        <div class="w3-container">
            <h1 class="w3-center">Contact</h1>
        </div>

        <div class="w3-quarter w3-container w3-hide-small">
            <div class="w3-display-container w3-hide">Hidden element</div>
        </div>

        <div class="w3-container w3-card w3-margin w3-half">
            <form autocomplete="on" name="contact" method="POST" action="https://hook.integromat.com/3q6m2rg54bvpsdvmz9brtkp95xbu76la">
                <p class="w3-hide">
                    <label>Don’t fill this out if you're human: 
                    <input name="bot-field" />
                    </label>
                </p>
                <div class="w3-row w3-section">
                    <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
                    <div class="w3-rest">
                        <input class="w3-input w3-border-0 w3-light-grey" name="name" type="text" placeholder="Name">
                    </div>
                </div>
                <div class="w3-row w3-section">
                    <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-envelope-o"></i></div>
                    <div class="w3-rest">
                        <input class="w3-input w3-border-0 w3-light-grey" name="email" type="email" placeholder="Email">
                    </div>
                </div>
                <div class="w3-row w3-section">
                    <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-pencil"></i></div>
                    <div class="w3-rest">
                        <textarea class="w3-input w3-border-0 w3-light-grey textarea" placeholder="Enquiry details" required></textarea>
                    </div>
                </div>
                <div class="w3-section w3-center">
                    <input type="submit" value="Submit" class="w3-button w3-theme w3-large">
                </div>
            </form>
        </div>
    </div>
</main>